{{>headerlinks}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{>afterheader}}

                    <div class="nav__list">
                        <a href="/cart" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="/atender" class="nav__link ">
                            <i class='bx bx-receipt nav__icon' ></i>
                            <span class="nav__name">Active Tender</span>
                        </a>

                        <a href="/ctender" class="nav__link">
                            <i class='bx bx-bar-chart-alt-2 nav__icon' ></i>
                            <span class="nav__name">Completed Tender</span>
                        </a>
                        
                        <a href="/contact" class="nav__link">
                            <i class='bx bx-message-square-detail nav__icon' ></i>
                            <span class="nav__name">Contact</span>
                        </a>

                        <a href="#" class="nav__link active">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">Our Team</span>
                        </a>

                    </div>
                </div>

                <a href="/" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Go Back</span>
                </a>
            </nav>
        </div>

        <div class="container-fluid main_header" style="margin-top: 9rem;">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left about_left">
                        <img class="d-block w-100" src="/images/my_img.jpg" alt="First slide" width="250" height="400">
                    </div>
                    <div class="col-md-6 col-12 main_header_right about_right" style="margin-top: 3rem;">
                        <h2>Our Team</h2>
                        <hr>
                        <h1>Somya Sheti</h1>
                        <h3>Third Year Student at Vellore Institute of Technology</h3>
                        <h6><span>Tech Stack</span><br><span>Database:</span>Mongo Db , Firebase , SQL <br><span>Web Devlopment:</span> Node Js , Express Js , JQuery , Javascript<br><span>Android Devlopment:</span> Java, Kotlin<br><span>Key Subjects:</span> DSA , Operating System , DBMS</h6>
                        <a href="https://sds7500.github.io/myportfolio.github.io/"><button>Know More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <script src="js/cart.js"></script>
    </body>
</html>