<footer>
        <div class="container flex">
            <div class="box flex-1">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ea voluptatibus, dolores atque suscipit quidem praesentium, similique architecto officiis asperiores sunt temporibus quisquam.</p>
                <button class="btn btn-secondry">Read More</button>
            </div>
            <div class="box flex-1">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
            <div class="box flex-1">
                <h3>Follow Us</h3>
                <div class="flex justify-center">
                <ul>
                    <li><a href="#"><img src="./icons/facebook.svg" alt=""><span>facebook</span></a></li>
                    <li><a href="#"><img src="./icons/twitter.svg" alt=""><span>twitter</span></a></li>
                    <li><a href="#"><img src="./icons/google.svg" alt=""><span>google</span></a></li>
                    <li><a href="#"><img src="./icons/instagram.svg" alt=""><span>instagram</span></a></li>                    
                </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="copyright">
        <div>
            Copyright @ 2021 . All rights reserved by <a href="#">Somya</a>
        </div>
    </footer>